In [3]:
# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [41]:
d = pd.read_csv("abalone.data")

4176

In [15]:
# Looks like there are no class labels
d.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [42]:
column_names = ["Sex","Length","Diameter","Height","Whole weight","Shucked weight","Viscera weight","Shell weight","Rings"]

In [43]:
d.columns = column_names

In [19]:
d.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

In [47]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
d["Sex"] = ordinal_encoder.fit_transform(d[["Sex"]])

In [48]:
d.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,2.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,0.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,2.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,1.0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,1.0,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

In [49]:
d.describe()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,4176.000000,4176.000000,4176.000000,4176.000000,4176.000000,4176.00000,4176.000000,4176.000000,4176.000000
mean,1.052682,0.524009,0.407892,0.139527,0.828818,0.35940,0.180613,0.238852,9.932471
std,0.822208,0.120103,0.099250,0.041826,0.490424,0.22198,0.109620,0.139213,3.223601
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.00100,0.000500,0.001500,1.000000
25%,0.000000,0.450000,0.350000,0.115000,0.441500,0.18600,0.093375,0.130000,8.000000
50%,1.000000,0.545000,0.425000,0.140000,0.799750,0.33600,0.171000,0.234000,9.000000
75%,2.000000,0.615000,0.480000,0.165000,1.153250,0.50200,0.253000,0.329000,11.000000
max,2.000000,0.815000,0.650000,1.130000,2.825500,1.48800,0.760000,1.005000,29.000000

In [50]:
from sklearn.utils import shuffle

d_shuffled = shuffle(d)

In [51]:
data_labels = d_shuffled["Rings"]

In [52]:
data = d_shuffled.drop("Rings", axis=1)

In [53]:
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
2597,2.0,0.600,0.460,0.150,1.2470,0.5335,0.2735,0.290
2194,1.0,0.260,0.215,0.080,0.0990,0.0370,0.0255,0.045
2124,2.0,0.470,0.375,0.115,0.4265,0.1685,0.0755,0.150
3168,2.0,0.560,0.450,0.155,0.9125,0.3595,0.2710,0.350
685,0.0,0.535,0.400,0.150,0.8045,0.3345,0.2125,0.210

In [58]:
training_data = data.iloc[:3133]
training_labels = data_labels.iloc[:3133]

In [55]:
test_data = data.iloc[3133:]
test_labels = data_labels.iloc[3133:]

In [90]:
def EuclideanDistance(v1, v2):
    sum = 0.0
    for index in range(len(v1)):
        sum += (v1[index] - v2[index]) ** 2
    return sum ** 0.5

In [ ]:
dists = []
for i in range(len(d) - 1):
    for j in range(i + 1, len(d)):
        dist = EuclideanDistance(d.iloc[i], d.iloc[j])
        dists.append(dist)
        
fig = plt.hist(dists, 100)

In [78]:
knn_cfr = KNeighborsClassifier(n_neighbors=5)

In [79]:
knn_cfr.fit(training_data, training_labels)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [80]:
# Test predictions on training data
knn_cfr.predict(training_data)

array([10,  5,  9, ..., 10,  8, 11])

In [81]:
from sklearn.metrics import mean_squared_error

training_predictions = knn_cfr.predict(training_data)

knn_mse = mean_squared_error(training_labels, training_predictions)
knn_rmse = np.sqrt(knn_mse)
knn_rmse

2.4819167247895924

In [77]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    {'n_neighbors': [2,3,4,5,6,7,8,9,10]}
]

grid_search = GridSearchCV(knn_cfr, param_grid, cv=3,
                           scoring='f1',
                           return_train_score=True)

In [82]:
#grid_search.fit(training_data, training_labels)

In [84]:
test_predictions = knn_cfr.predict(test_data)

knn_mse = mean_squared_error(test_labels, test_predictions)
knn_rmse = np.sqrt(knn_mse)
knn_rmse

2.6763765376054733

In [88]:
def knn_kiterator(k_val=3):
    knn_cfr = KNeighborsClassifier(k_val)
    knn_cfr.fit(training_data, training_labels)
    training_predictions = knn_cfr.predict(training_data)
    knn_mse = mean_squared_error(training_labels, training_predictions)
    knn_rmse = np.sqrt(knn_mse)
    return knn_rmse

for i in range(1,10,1):
    print("RMSE with k= ",i," is: ", knn_kiterator(i))

RMSE with k=  1  is:  0.0
RMSE with k=  2  is:  2.0537774745812536
RMSE with k=  3  is:  2.418212100005463
RMSE with k=  4  is:  2.4774759351518036
RMSE with k=  5  is:  2.4819167247895924
RMSE with k=  6  is:  2.464882623038243
RMSE with k=  7  is:  2.450662215004823
RMSE with k=  8  is:  2.432753415309486
RMSE with k=  9  is:  2.4996648354965645